@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Open+Sans:ital,wght@1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
}

.hbb {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.head h2 {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
}

img {
  width: 1rem;
  cursor: pointer;
}

.todo {
  min-height: 50px;
  width: 100%;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  font-weight: 300;
}

li {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  width: 100%;
}

.new-item {
  width: 90%;
  height: 45px;
  font-style: italic;
  border: none;
}

button {
  width: 10%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.content {
  width: 85%;
  caret-color: sandybrown;
  padding: 10px;
  border: none;
}

.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

.btn {
  width: 100%;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}
